/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Niramit', sans-serif;
 */

:root{
    --preto: #000000;
    --cinza: #8a8a8a;
    --branco: #FFFFFF;
    --cor-dos-cards: #F5F5F5;
    --cor-drop-shadow: #B5B5B5;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#header {
    background-color: var(--preto);
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 15px 15px #b5b5b5;
}

.icone-header{
    width: 40px;
    height: 40px;
}

#logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#logo:hover{
    transform: scale(1.1);
    animation-delay: 0.5s;
    animation: logoGirando 1s;
    transition: 0.8s;
}

@keyframes logoGirando {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate( 360deg);
    }
}

.descricao-icones-header{
    color: var(--branco);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}

.divs-header-iconeTexto{
    text-align: center;
}

.a-header{
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.a-header:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.a-header:active{
    transform: translate(0em, 0.2em);
}

@keyframes letspace{
    0%{
        letter-spacing: auto;
    }
    50%{
        letter-spacing: 1px;
    }
    100%{
        letter-spacing: auto;
    }
}

/* Main------------------------------------------------------------------------------------ */

main {
    height: auto;
    width: auto;
}

#title-localizacao,
#title-carrossel,
#title-indicacao,
#title-beneficios{
    text-align: center;
    padding-top: 35px;
    color: var(--preto);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
}

#divisao-mapa-descricao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

#mapa-birigui{
    width: 300px;
    height: 300px;
    padding-left: 50px;
    cursor: pointer;
    transition: 0.8s;
}

#mapa-birigui:hover{
    transform: scale(1.075);
    transition: 0.8s;
}

#descricao-localizacao,
.p1,
.p2{
    font-size: 22px;
    color: var(--cinza);
    font-family: 'Niramit', sans-serif;
    text-align: center;
    padding-bottom: 15px;
    padding-right: 30px;
}

/* Section 2 ------------------------------------------------------------------------------- */

#section-carrossel{
    background-color: var(--preto);
}

#title-carrossel{
    color: var(--branco);
    padding-bottom: 30px;
}

.item {
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; /* Adicione uma transição suave */
  }
  
  .current-item {
    opacity: 1; 
  }
  
  .item:not(.current-item) {
    opacity: 0.5;
    pointer-events: none;
    transform: scale(0.9);
  }

.conteiner-carrossel{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 0px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.imagendescricao{
    display: flex;
    flex-flow: row nowrap;
    gap: 120px;
    align-items: center;
    padding: 40px;
}

.descricao-imagens-carrossel{
    color: var(--cor-drop-shadow);
    padding-top: 10px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.8s;
}

.descricao-imagens-carrossel:hover{
    animation: letspace 0.8s;
    transition: 0.8s;
}

.imagens-carrossel{
    height: 220px;
    width: 220px;
    cursor: pointer;
    transition: 0.8s;
}

.imagens-carrossel:hover{
    transform: scale(1.075);
    transition: 0.8s;
}

.conteiner-carrossel{
    padding-bottom: 50px;
}

#direita-button,
#esquerda-button{
    cursor: pointer;
    background-color: var(--preto);
    border: none;
    border-radius: 1000px;
    padding: 3px;
    padding-bottom: 70px;
    margin-right: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: -100px;
    right: auto;
    bottom: 30px;
    align-items: center;
    transition: 0.8s;
}

#direita-button{
    left: auto;
    right: -100px;
}

#direita-button:hover,
#esquerda-button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

#setinha-esquerda,
#setinha-direita {
    color: var(--branco);
    font-size: 40px;
}

#direita-button:active,
#esquerda-button:active{
    transform: translate(0em, 0.4em);
}

#section-carrossel{
    clip-path: polygon(0 0,100% 0,100% calc(100% - 35px),50% 100%,0 calc(100% - 35px));
  }
#section-indicacaoGeografica {
    clip-path: polygon(0 0,50% 35px,100% 0,100% 100%,0 100%);
    margin-top: -35px;
}
/* section 3 -------------------------------------------------------------------------------- */

#title-indicacao{
    padding-top: 80px;
}

#paragrafos-indicacao{
    text-align: center;
    padding-top: 10px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#container-beneficios{
    padding-top: 40px;
}

.parte-beneficios{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.cards-beneficios{
    text-align: center;
    background-color: var(--branco);
    padding: 15px;
    border: none;
    box-shadow: 15px 15px 30px #cbcbcb,
                -15px -15px 30px #ffffff;
    padding: 25px;
    height: 180px;
    width: 200px;
    border-radius: 30px;
    transition: 0.8s;
    cursor: pointer;
}

.cards-beneficios:hover{
    transform: scale(1.075);
    transition: 0.8s;
    background-color: #eeeeee;
}

.dar-padding-top{
    padding-top: 40px;
}

.imgs-beneficios{
    height: 90px;
    width: 90px;
}

.textinho-beneficios{
    color: var(--cor-drop-shadow);
    padding-top: 10px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.8s;
}

#section-indicacaoGeografica{
    padding-bottom: 100px;
}


/* Footer----------------------------------------------------------------------------------- */

#footer{
    width: auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    padding: 15px;
    justify-items: center;
}

.fa-envelope,
.fa-github,
.fa-instagram{
    transition: 0.8s;
}

.fa-instagram:hover,
.fa-github:hover,
.fa-envelope:hover
{
    transform: scale(1.15);
    transition: 0.8s;
}

.fa-instagram:before,
.fa-github:before,
.fa-envelope:before 
{
    content: "\f16d";
    font-size: 48px;
    color: var(--preto);
    padding-left: 8px;
}

#img-footer-brasao{
    width: 120px;
    height: 110px;
    padding-right: 30px;
    transition: 0.8s;
}

#img-footer-logo{
    width: 200px;
    height: 170px;
    transition: 0.8s;
}

#img-footer-brasao:hover,
#img-footer-logo:hover{
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.icones-redes-sociais{
    padding-bottom: 5px;
}

.PorHenri{
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    transition: 0.8s;
}

.PorHenri:hover{
    animation: letspace 0.8s;
}

.Creditos-footer{
    text-align: center;
}



