/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Niramit', sans-serif;
 */

:root{
    --preto: #000000;
    --cinza: #8a8a8a;
    --branco: #FFFFFF;
    --cor-dos-cards: #F5F5F5;
    --cor-drop-shadow: #B5B5B5;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

*::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
     /* Cor do polegar da barra de rolagem (parte que você arrasta) */
}

*::-webkit-scrollbar-track {
    background-color: #000000;
     /* Cor da pista da barra de rolagem (fundo) */
}

#header {
    background-color: var(--preto);
    width: auto;
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 15px 15px #b5b5b5;
}

.icone-header{
    width: 45px;
    height: 45px;
}

#logo{
    width: 110px;
    height: 110px;
    cursor: pointer;
    transition: 0.5s;
}

#logo:hover{
    transform: scale(1.1);
    animation-delay: 0.5s;
    animation: logoGirando 1s;
    transition: 0.8s;
}

@keyframes logoGirando {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate( 360deg);
    }
}

.descricao-icones-header{
    color: var(--branco);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}

.divs-header-iconeTexto{
    text-align: center;
}

.a-header{
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.a-header:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.a-header:active{
    transform: translate(0em, 0.2em);
}

@keyframes letspace{
    0%{
        letter-spacing: auto;
    }
    50%{
        letter-spacing: 1px;
    }
    100%{
        letter-spacing: auto;
    }
}

/* Main------------------------------------------------------------------------------------ */

main {
    height: auto;
    width: auto;
}

#title-localizacao,
#title-carrossel,
#title-indicacao,
#title-beneficios,
#title-selo,
#title-por-fim{
    text-align: center;
    padding-top: 35px;
    color: var(--preto);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
}

#divisao-mapa-descricao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

#mapa-birigui{
    width: 300px;
    height: 300px;
    padding-left: 50px;
    cursor: pointer;
    transition: 0.8s;
}

#mapa-birigui:hover{
    transform: scale(1.075);
    transition: 0.8s;
}

#descricao-localizacao,
.p1,
.p2{
    font-size: 22px;
    color: var(--cinza);
    font-family: 'Niramit', sans-serif;
    text-align: center;
    padding-bottom: 15px;
    padding-right: 30px;
}


/* Section 2 ------------------------------------------------------------------------------- */


#section-carrossel{
    background-color: var(--preto);
}

#title-carrossel,
#title-selo,
#title-por-fim{
    color: var(--branco);
    padding-bottom: 30px;
}

.item {
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; /* Adicione uma transição suave */
  }
  
  .current-item {
    opacity: 1; 
  }
  
  .item:not(.current-item) {
    opacity: 0.5;
    pointer-events: none;
    transform: scale(0.9);
  }

.conteiner-carrossel{
    position: relative;
    padding: 15px;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 0px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.imagendescricao{
    display: flex;
    flex-flow: row nowrap;
    gap: 120px;
    align-items: center;
    padding: 40px;
}

.descricao-imagens-carrossel{
    color: var(--cor-drop-shadow);
    padding-top: 10px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.8s;
}

.descricao-imagens-carrossel:hover{
    animation: letspace 0.8s;
    transition: 0.8s;
}

.imagens-carrossel{
    height: 220px;
    width: 220px;
    cursor: pointer;
    transition: 0.8s;
}

.imagens-carrossel:hover{
    transform: scale(1.075);
    transition: 0.8s;
}

.conteiner-carrossel{
    padding-bottom: 50px;
}

#direita-button,
#esquerda-button{
    cursor: pointer;
    background-color: var(--preto);
    border: none;
    border-radius: 1000px;
    padding: 3px;
    padding-bottom: 70px;
    margin-right: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: -100px;
    right: auto;
    bottom: 30px;
    align-items: center;
    transition: 0.8s;
}

#direita-button{
    left: auto;
    right: -100px;
}

#direita-button:hover,
#esquerda-button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

#setinha-esquerda,
#setinha-direita {
    color: var(--branco);
    font-size: 40px;
}

#direita-button:active,
#esquerda-button:active{
    transform: translate(0em, 0.4em);
}

#section-carrossel{
    clip-path: polygon(0 0,100% 0,100% calc(100% - 35px),50% 100%,0 calc(100% - 35px));
  }
#section-indicacaoGeografica {
    clip-path: polygon(0 0,50% 35px,100% 0,100% 100%,0 100%);
    margin-top: -35px;
}


/* section 3 -------------------------------------------------------------------------------- */


#title-indicacao{
    padding-top: 80px;
}

#paragrafos-indicacao{
    text-align: center;
    padding-top: 10px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#container-beneficios{
    padding-top: 40px;
}

.parte-beneficios{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.cards-beneficios{
    text-align: center;
    background-color: var(--branco);
    padding: 15px;
    border: none;
    box-shadow: 15px 15px 30px #cbcbcb,
                -15px -15px 30px #ffffff;
    padding: 25px;
    height: 180px;
    width: 200px;
    border-radius: 30px;
    transition: 0.8s;
    cursor: pointer;
}

.cards-beneficios:hover{
    transform: scale(1.075);
    transition: 0.8s;
    background-color: #eeeeee;
}

.dar-padding-top{
    padding-top: 40px;
    padding-bottom: 40px
}

.imgs-beneficios{
    height: 90px;
    width: 90px;
}

.textinho-beneficios{
    color: var(--cor-drop-shadow);
    padding-top: 10px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.8s;
}

#section-indicacaoGeografica{
    padding-bottom: 100px;
}



/* Section 4 -------------------------------------------------------------------------------- */

#section-selo{
    height: 200vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 98%);
}

#title-selo{
    padding-bottom: 40px;
}

.imgs-selo-animation{
    height: 80px;
    width: 125px;
}

#animacao-louca{
    display: flex;
    flex-direction: column;
}

.img1{
    position: absolute;
    top: 2300px;
    left: 350px;
    animation-name: TrocarPosicaoIMG1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img8{
    position: absolute;
    top: 2300px;
    left: 770px;
    animation-name: TrocarPosicaoIMG8;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img2{
    position: absolute;
    top: 2430px;
    left: 100px;
    animation-name: TrocarPosicaoIMG2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img7{
    position: absolute;
    top: 2430px;
    left: 1020px;
    animation-name: TrocarPosicaoIMG7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img3{
    position: absolute;
    top: 2630px;
    left: 100px;
    animation-name: TrocarPosicaoIMG3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img6{
    position: absolute;
    top: 2630px;
    left: 1020px;
    animation-name: TrocarPosicaoIMG6;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img4{
    position: absolute;
    top: 2820px;
    left: 350px;
    animation-name: TrocarPosicaoIMG4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.img5{
    position: absolute;
    top: 2820px;
    left: 770px;
    animation-name: TrocarPosicaoIMG5;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.logo-selo{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 480px;
    top: 2430px;
    cursor: pointer;
    transition: 0.5s;
}

.logo-selo:hover{
    transform: scale(1.1);
    animation-delay: 0.5s;
    animation: logoGirando 1s;
    transition: 0.8s;
}


@keyframes TrocarPosicaoIMG1 {
    0%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    12.5%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    25%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    37.5%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    50%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    62.5%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    75%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    87.5%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    100%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
}

@keyframes TrocarPosicaoIMG2 {
    0%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    12.5%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    25%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    37.5%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    50%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    62.5%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    75%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    87.5%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    100%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
}

@keyframes TrocarPosicaoIMG3 {
    0%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    12.5%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    25%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    37.5%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    50%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    62.5%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    75%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    87.5%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    100%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
}

@keyframes TrocarPosicaoIMG4 {
    0%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    12.5%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    25%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    37.5%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    50%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    62.5%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    75%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    87.5%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    100%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
}

@keyframes TrocarPosicaoIMG5 {
    0%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    12.5%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    25%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    37.5%{
        position: absolute;
        top: 2300px;
        left: 770px; 
    }
    50%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    62.5%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    75%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    87.5%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    100%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
}

@keyframes TrocarPosicaoIMG6 {
    0%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    12.5%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    25%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    37.5%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    50%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    62.5%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    75%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    87.5%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    100%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
}

@keyframes TrocarPosicaoIMG7 {
    0%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    12.5%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    25%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    37.5%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    50%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    62.5%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    75%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    87.5%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    100%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
}

@keyframes TrocarPosicaoIMG8 {
    0%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
    12.5%{
        position: absolute;
        top: 2300px;
        left: 350px;
    }
    25%{
        position: absolute;
        top: 2430px;
        left: 100px;
    }
    37.5%{
        position: absolute;
        top: 2630px;
        left: 100px;
    }
    50%{
        position: absolute;
        top: 2820px;
        left: 350px;
    }
    62.5%{
        position: absolute;
        top: 2820px;
        left: 770px;
    }
    75%{
        position: absolute;
        top: 2630px;
        left: 1020px;
    }
    87.5%{
        position: absolute;
        top: 2430px;
        left: 1020px;
    }
    100%{
        position: absolute;
        top: 2300px;
        left: 770px;
    }
}

#title-por-fim{
    padding-top: 780px;
}

#texto-por-fim{
    font-size: 22px;
    color: var(--cor-dos-cards);
    font-family: 'Niramit', sans-serif;
    text-align: center;
    padding: 40px;
}

#alinhar-textos{
    align-items: center;
}

#section-indicacaoGeografica{
    overflow:hidden;
    position:relative;
    }
#section-indicacaoGeografica::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%; 
    transform: rotateY(180deg); background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23000000"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23000000"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23000000"/></svg>'); 
    }
    
@media (min-width:2100px){
    #section-indicacaoGeografica::before{
    background-size: 100% calc(2vw + 90px);
    }
    }
     
/* Footer----------------------------------------------------------------------------------- */

#footer{
    width: auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    padding: 15px;
    justify-items: center;
}

.fa-envelope,
.fa-github,
.fa-instagram{
    transition: 0.8s;
}

.fa-instagram:hover,
.fa-github:hover,
.fa-envelope:hover
{
    transform: scale(1.15);
    transition: 0.8s;
}

.fa-instagram:before,
.fa-github:before,
.fa-envelope:before 
{
    content: "\f16d";
    font-size: 48px;
    color: var(--preto);
    padding-left: 8px;
}

#img-footer-brasao{
    width: 120px;
    height: 113px;
    padding-right: 30px;
    transition: 0.8s;
}

#img-footer-logo{
    width: 200px;
    height: 175px;
    transition: 0.8s;
}

#img-footer-brasao:hover,
#img-footer-logo:hover{
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.icones-redes-sociais{
    padding-bottom: 5px;
}

.PorHenri{
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    transition: 0.8s;
}

.PorHenri:hover{
    animation: letspace 0.8s;
}

.Creditos-footer{
    text-align: center;
}